@footer-height: 34px;
@footer-height-min: 49px;
@footer-min: 500px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: @footer-height + 50px;
  @media only screen and (max-width: @footer-min) {
    margin-bottom: @footer-height-min + 50px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: @footer-height;
  background: @gray-light;
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;
  font-size: 12px;

  p {
    margin: 10px 0 0 0;
    color: @gray-dark;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }

    a, a:hover {
      color: @gray-dark;
    }
  }

  @media only screen and (max-width: @footer-min) {
    height: @footer-height-min;
    p {
      text-align: center;
      float: none !important;
      margin: 4px 0 0 0
    }
  }

  .container, .container-fluid {
    padding-top: 20px;
    border-top: 1px solid @gray-light;
    color: #777;
  }
}
