.story--items {
  margin-bottom: 10px;
  .clearfix();
}

.story--item {
  float: left;
  margin: 0 12px 12px 0;
  min-height: 48px;

}

.story--item--text {
  font-size: 30px;
  text-align: left;
  white-space: normal;
  border-radius: 12px;
}

.story--item--emoji {
  img {
    width: 48px;
    height: 48px;
  }
}

.select--emoji {
  .Select-option {
    display: inline;
    float: left;
  }
}
